################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Globomantics
/Globomantics/obj/Debug/net6.0
/Globomantics/obj/Release/net6.0
/Globomantics/obj
